In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [4]:
dataset = pd.read_csv('data/Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
features = dataset.columns[3:-1]
target = dataset.columns[-1]

X = dataset[features]
Y = dataset[target].values.ravel()

## Encode the categorical columns (Geography and Gender)

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
pd.options.mode.chained_assignment = None #turn annoying copy warning off
le_geography = LabelEncoder()
X['Geography'] = le_geography.fit_transform(X['Geography'])
le_gender = LabelEncoder()
X['Gender'] = le_gender.fit_transform(X['Gender'])

## Now use OneHotEncoder on the encoded columns

In [7]:
ohe = OneHotEncoder(categorical_features=[1])
X = ohe.fit_transform(X).toarray()
X = X[:, 1:]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [10]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(X_train, Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [11]:
y_pred = model.predict(X_test)

In [12]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)
cm

array([[1521,   74],
       [ 197,  208]])

In [14]:
print('Accuracy: {0:.2f}%'.format((cm[0,0] + cm[1,1]) / cm.sum() * 100))

Accuracy: 86.45%

In [21]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(model, X_train, y=Y_train, cv=10)
for i in range(10):
    print('Cross Val Score {0}: {1:.2f}%'.format(i+1, accuracies[i]*100))
print('----------------------------------')
print('Mean: {0:.2f}%'.format(accuracies.mean()*100))
print('Std: {0:.2f}%'.format(accuracies.std()*100))

Cross Val Score 1: 86.89%
Cross Val Score 2: 85.77%
Cross Val Score 3: 88.50%
Cross Val Score 4: 86.62%
Cross Val Score 5: 85.88%
Cross Val Score 6: 85.50%
Cross Val Score 7: 86.62%
Cross Val Score 8: 85.00%
Cross Val Score 9: 84.86%
Cross Val Score 10: 87.36%
----------------------------------
Mean: 86.30%
Std: 1.07%